.product_name {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

.product_image {
  width: 78%;
  height: auto;
  cursor: pointer;
}

.top_right {
  position: absolute;
  top: 43px;
  right: 25px !important;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: x-large;
  color: #ff2040;
}
