.logo {
  width: auto;
  height: 226px;
}
.primary_block {
  padding-top: 100px;
  background: #ff2040;
}

.subtitle {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: white;
}

.choice_image {
  background: white;
}
.overlay_text {
  position: absolute;
}

ion-icon {
  font-size: 176px;
  color: white;
}

.action_button_eat {
  background-color: #00b020;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 12px 28px;
  border-radius: 10px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-left: 31px;
  padding-top: 5px;
}

.action_button_order {
  background-color: #00b020;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 12px 28px;
  border-radius: 10px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-left: 17px;
  padding-top: 5px;
}
