.cart_image {
  max-width: 100% !important;
  height: auto;
}

.product_name {
  font-size: 15px;
}

.test {
  color: blue;
}
hr {
  margin-top: -1rem !important;
  margin-bottom: 1rem;
  border: 0;
  border-top: 3px solid rgba(0, 0, 0, 0.1);
}

.customize_btn {
  width: 140px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.product_quantity {
  width: 50%;
  border: 1px solid #ced4da;
}

.cart_product_name {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 19px;
}

.update_ing {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 19px;
}

.in_dec {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
}
